{% extends "base.html" %}
{% block title %}-{{msg}}{% end %}
{% block content %}
<style type="text/css">
    .error-content h2{
        margin-top: 0px;
    }
    .error-content h3{
        padding-top: 50px;
    }
    .error-content{text-align: center}
</style>
<section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> {{code}}</h2>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> {{msg}}.</h3>
          <p>
            您的账户没有对应请求的权限，<a href="/">返回首页</a>。
          </p>
        </div>
      </div>
    </section>
{% end %}